@import "tailwindcss";
@plugin "daisyui";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

::selection {
	background-color: oklch(var(--p));
	color: oklch(var(--pc));
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: oklch(var(--nc) / 0.3);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: oklch(var(--p));
}

@theme {
	--animate-marquee: marquee 20s linear infinite;
	@keyframes marquee {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-100%);
		}
	}
}
